[View in Colaboratory](https://colab.research.google.com/github/MuddyCharles/autonomousfuture/blob/master/reilAutomation.ipynb)

## Import OES Data

In [0]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as pp
!wget "https://www.dropbox.com/s/nb634owp9471quf/rawdatanaics.csv?dl=0" -q -O "rawdatanaics.csv" 
#Download raw csv file from Dropbox and rename to "rawdatanaics.csv"
oes = pd.read_csv("rawdatanaics.csv",low_memory=False)

## Import ONet Data ##

In [0]:
!wget "https://www.dropbox.com/s/2y7c9yo93nyq8uh/combined.sqlite?dl=0" -q -O  "onet.sqlite"  
#Download raw SQLite file from Dropbox and rename to "onet.sqlite"
import sqlite3
onetConnection = sqlite3.connect('onet.sqlite')
cur = onetConnection.cursor()
query = "SELECT * FROM occupation_data";
occdata = pandas.read_sql_query(query, onetConnection)
len(occdata)
# Onet surveyed 1109 occupations.

## Data cleaning

### Target the occupations that 1. In Real Estate industry 2. Not General Group 3. Onet has surveyed

In [21]:
!wget "https://www.dropbox.com/s/329edv8yrn3ik25/Occupation%20Data.csv?dl=0"-q -O  "Occupation Data.csv" 
occ_onet=pd.read_csv("Occupation Data.csv",low_memory=False)
#Download 'Occupation Data' CSV that changes the 8-digit Onet-code to 6-digit, ommiting the last two digits.
del_occ_endwith_00_and_in_Onet=oes.loc[oes['occ_code'].isin(occ_onet['O*NET-SOC Code'])]
#Delete the occupation if the code is not in 'Occupation Data'
del_occ_endwith_00_and_in_Onet.shape

Redirecting output to ‘wget-log.15’.

(22026, 61)

In [26]:
target_occ=set(del_occ_endwith_00_and_in_Onet['occ_code'])
target_occ=list(target_occ)
target=pd.DataFrame({'target_occ': target_occ})
len(target)
# we target 558 occupations.

558

### Drop the columns in the oes.csv that contains duplicated or redundant data.

In [0]:
del_occ_endwith_00_and_in_Onet.columns
#drop the colomuns that contain duplicate information
del_duplicated_column=del_occ_endwith_00_and_in_Onet.drop(['title_code','occ_title_code', 'occ_title_mid', 'year.1', 'naics.1', 'naics_title.1', 'occ_code.1', 'occ_title.1', 'group', 'naics_codedescription', 'year-naics-occ_code', 'year-naics-occ_code.1','year.2', 'naics.2', 'naics_title.2', 'occ_code.2', 'title_code.1', 'dominant_lifecycle.1', 'occ_title.2', 'occ_title_code.1', 'occ_title_mid.1','group.1', 'naics_codedescription.1', 'keepsy'],axis=1)
# the columns # decrease to 37 from 61
del_duplicated_column.shape